---
layout: default
title: Dhruv Vyas
image: headers/about_header.jpg
color: ec1520
link: home
---

<section class="date">

<p><span>About</span></p>

</section>

<h1>Dhruv Vyas</h1>

<p>Assistant Professor at <a href="http://www.iietedu.org/">IIET, Dharmaj</a></p>

<p>Pursuing Masters Of Engineering (Construction Project Management) From <a href="http://www.bvmengineering.ac.in">Birla Vishwakarma Mahavidhyalay, Vallabh Vidyanagar</a></p>

<p>Photography and Food Enthusiast</p>