<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="author" content="Dhruv Vyas" />
        <meta name="viewport" content="width=device-width">

        <title>{{ page.title }}</title>

        <link rel="stylesheet" href="/css/screen.css">
        <link href="http://feeds.feedburner.com/dhruvvyas" rel="alternate" title="Dhruv Vyas" type="application/atom+xml" />

        <style>
            a,
            .date span {
                color: #{{ page.color }};
            }
        </style>

        <script type="text/javascript">
          (function() {
            var config = {
              kitId: 'pqx4dld',
              scriptTimeout: 3000
            };
            var h = document.getElementsByTagName("html")[0];
            h.className += " wf-loading";
            var t = setTimeout(function() {
                h.className = h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");
                h.className += " wf-inactive"
            }, config.scriptTimeout);
            var tk = document.createElement("script"), d = false;
            tk.src = '//use.typekit.net/' + config.kitId + '.js';
            tk.type = "text/javascript";
            tk.async = "true";
            tk.onload = tk.onreadystatechange = function() {
                var a = this.readyState;
                if (d || a && a != "complete" && a!= "loaded") return;
                d = true;
                clearTimeout(t);
                try {
                    Typekit.load(config)
                } catch (b) {}
            };
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(tk,s)
          })();
        </script>

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
    </head>
    <body>
        <header class="clearfix">
            <nav>
                <ul>
                    <li>
                        {% if page.link == 'home' %}
                          <a href="/">Home</a>
                        {% else %}
                          <a href="/about.html">About</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
            <div class="image-wrapper scale">
                <img src="/images/space.gif">
                <div class="image" style="background-image: url(/images/{{ page.image }});"></div>
            </div>
        </header>
        <div class="wrapper clearfix">
            <div class="main">
                {{ content }}
                <div class="author clearfix">
                    {% if page.link == 'home' %}
                        <a class="clip" href="/"><img src="/images/dhruv_vyas.jpg" alt="Dhruv Vyas"></a>
                        <h3><a href="/">Dhruv Vyas</a></h3>
                    {% else %}
                        <a class="clip" href="/about.html"><img src="/images/dhruv_vyas.jpg" alt="Dhruv Vyas"></a>
                        <h3><a href="/about.html">Dhruv Vyas</a></h3>
                    {% endif %}
                    <p>Freelance Web Developer</p>
                </div>
                <div class="meta clearfix">
                    <div class="contact">
                        <p><a href="https://github.com/dhruvvyas">https://github.com/dhruvvyas</a></p>
                        <p><a hrfe="http://www.linkedin.com/in/dhruvvyas">http://www.linkedin.com/in/dhruvvyas</a></p>
                    </div>
                    <div class="contact right">
                        <p><a href="mailto:dhruvvyas@gmail.com">Contact Me</a></p>
                        <p>powered by <a href="https://github.com/mojombo/jekyll">jeykll</a></p>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-37441744-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </body>
</html>
